<div class="sideNav-wrapper">
    <ul class="nav flex-column menu" >
        <li class="nav-item">
            <i class="fas fa-box icon-color cursor"></i>
        </li>
        <li class="nav-item">
            <i class="fas fa-chart-line icon-color cursor"></i>
        </li>
        <li class="nav-item">
            <i class="fas fa-plus active icon-color cursor"></i>
        </li>
        <li class="nav-item" >
            <i class="fas fa-check icon-color cursor"></i>
        </li>
        <li class="nav-item" >
            <i class="fas fa-gear icon-color cursor"></i>
        </li>
        <li class="nav-item" >
            <i class="fas fa-download icon-color cursor"></i>
        </li>
    </ul>
</div>
