<div class="row mt-5">
  <ng-container *ngFor="let item of this.topCardData;let id = index">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mb-3 ">
      <div class="top-card" [ngClass]="{'active': id ==  0}">
        <div class="inner-card-report-body">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
              <span class="header-label">{{item.value}}%</span>
            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
              <i class="fas fa-music icon icon-color" *ngIf="id ==  0"></i>
              <i class="fas fa-chart-pie icon icon-color" *ngIf="id ==  1"></i>
              <i class="fas fa-download icon icon-color" *ngIf="id ==  2"></i>
              <i class="fas fa-rotate-right icon icon-color" *ngIf="id ==  3"></i>
            </div>
          </div>
          <div class="row">
            <span class="inner-card-sub-label">{{item.header}}</span>
            <span class="inner-card-desc">{{item.sub_header}}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>