<div class="modal" id="recentModal" aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="heading">Recent Orders Details</span>
                    <button type="button" class="btn-close"  aria-label="Close" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label>{{passData.name}}</label> 
                    </div>
                    <div class="row">
                        <label>{{passData.product}}</label>
                    </div>
                </div>
            </div>
    </div>
</div>
