.header{
    background: #fff;
    position: fixed;
    height: 60px;
    z-index: 99;
    .menu{
        .logo{
            width: 60px;
            height: 60px;
            background-color: var(--blue-color);
        }
        .menuIcon{
           font-size: 18px;
           padding: 18px;
           color:var(--white-color);
        }
    }
    img{
        height: 30px;
    }
  }

  .search-box {
    background-color: transparent !important;
    border-radius: 12px;
    border: unset;
    height: 10p;
   

    .form-control {
        padding: .575rem .75rem;
        background-color: transparent !important;
    }

    &::placeholder {
        opacity: 1;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }

    &:-ms-input-placeholder {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }

    &::-ms-input-placeholder {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }

    &:placeholder-shown {
        background: #EBF1FF url('../../../assets/search.svg') no-repeat;
        font-size: 5px;
        background-position: 10px;
        padding-left: 2rem;
    }

    &:not(:placeholder-shown) {
        background: #EBF1FF;
    }
}

  .container-fluid{
    padding-left: 0px !important
  }