<div class="container-fluid header">
    <div class="row">
        <div class="col-12 d-flex">
            <div class="menu">
                <div class="logo">
                    <i class="fas fa-bars menuIcon cursor"></i>
                </div>
            </div>
            <nav class="navbar navbar-expand ms-auto user-dropdown"> 
                <ul class="navbar-nav">
                    <li style="width: 1095px;">
                        <input type="search" class="form-control search-box d-none d-md-block" name="searchArea" id="searchArea"
                        placeholder="Search">
                    </li>
                    <li style="margin: 0px 15px 0px 0px;cursor: pointer;">
                        <label>Eng</label>&nbsp;
                        <i class="fas fa-caret-down icon-color"></i>
                    </li>
                    <li style="margin: 0px 15px 0px 0px;">
                        <i class="fas fa-envelope-open icon-color"></i>
                    </li>
                    <li style="margin: 0px 15px 0px 0px;">
                        <i class="fas fa-bell icon-color"></i>
                    </li>
                    <li style="margin: 0px 15px 0px 0px;">
                        <img src="./../../../assets/img_avatar.png">
                    </li>
                    <li style="margin: 0px 5px 0px 0px;">
                       <label>Camile Stevson</label>
                    </li>
                    <li style="margin: 0px 25px 0px 0px;">
                        <i class="fas fa-caret-down icon-color"></i>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>