<div class="card">
  <span class="heading">Recent Order</span>
  <div class="card-body">
    <div class="grid-container">
      <div class="grid-item-lebel">#</div>
      <div class="grid-item-lebel">Customer</div>
      <div class="grid-item-lebel">Products</div>
      <div class="grid-item-lebel">Delivery Date</div>
      <div class="grid-item-lebel text-center">Status</div>
      <div class="grid-item-lebel text-center">Tracking No#</div>
      <div class="grid-item-lebel text-center">Shipping</div>
      <div class="grid-item-lebel text-center"></div>
    </div>
    <div style="height: 180px;overflow-y: scroll;">
    <div class="grid-container" *ngFor="let row of recentOrderData; let id = index" >
      <div class="grid-item"><span *ngIf="id < 9">0</span>{{id + 1}}</div>
      <div class="grid-item">{{row.name}}</div>
      <div class="grid-item">{{row.product}}</div>
      <div class="grid-item">{{row.delivery_date | date:'d MMM, y'}}</div>
      <div class="grid-item text-center"><span
          [ngClass]="{'green-badge': row.status === 'Paid', 'red-badge' : row.status === 'Failed', 'gray-badge' : row.status === 'Pending'}">{{row.status}}</span>
      </div>
      <div class="grid-item text-center">{{row.tracking_no}}</div>
      <div class="grid-item text-center">{{row.shipping == true ? 'Yes': 'No'}}</div>
      <div class="grid-item text-center cursor" (click)="openModal(row)">X</div>
    </div>
  </div>
  </div>
</div>

<ng-template #recentDetail let-d="dismiss">
  <app-recent-orders-details-modal [passData]="passData"></app-recent-orders-details-modal>
</ng-template>